// == Cart alert
// -------------------------------

.cart-alert {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7;

	position: absolute;
	z-index: 98;

	display: none;
	visibility: hidden;

	padding: 15px;

	transition: all $tt;
	transform: translateY(50px);

	opacity: 0;
	color: white;
	border: 1px solid #e4e7ed;
	background: $azure;
	&:before {
		@include triangle(20px 10px, #e4e7ed, up);

		position: absolute;
		top: -11px;
		right: 26px;

		content: '';
	}
	&:after {
		@include triangle(20px 10px, $azure, up);

		position: absolute;
		top: -10px;
		right: 26px;

		content: '';
	}
	&_hiding {
		visibility: hidden;

		transform: translateY(50px);

		opacity: 0;
	}
	&_visible {
		display: block;
		visibility: visible;

		transform: translateY(0);

		opacity: 1;
	}
}

.cart-alert__link {
	text-decoration: underline;

	color: white;
	.no-touchevents &:hover {
		text-decoration: none;

		color: white;
	}
}
