// == Overlay
// -------------------------------

.overlay {
	@include media('<lg') {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;

		visibility: hidden;

		transition: visibility $tt, opacity $tt;

		opacity: 0;
		background: rgba(0,0,0,.6);
	}
	.with-sidebar & {
		@include media('<lg') {
			z-index: 99;

			visibility: visible;

			height: 100%;

			opacity: 1;
		}
	}
}
